body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
